In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Movie datasets read the contents of the movie dataset
df = pd.read_csv("datasets/u.data",sep='\t', names=['user_id','item_id','rating','timestamp'])
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [3]:
# Read the file that contains the title of the movies
movie_titles = pd.read_csv("datasets/Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
# Get them together
df = pd.merge(df,movie_titles,on='item_id')
df.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'title'], dtype='object')

In [15]:
# Get the average rating and group them by the movie titles
df.groupby('title')['rating'].mean().sort_values(ascending=False)

3.000000    101
1.000000     69
2.000000     52
4.000000     41
2.500000     33
2.666667     21
3.500000     21
2.750000     17
3.333333     17
3.666667     16
2.333333     14
2.428571     14
3.166667     13
3.250000     12
2.800000     12
2.250000     11
1.500000     11
5.000000     10
3.200000     10
2.400000     10
3.285714      9
2.600000      9
3.750000      9
3.142857      7
2.833333      7
3.400000      7
3.600000      7
2.166667      7
3.111111      6
2.200000      6
           ...
3.319444      1
3.040541      1
3.139241      1
3.338028      1
3.224138      1
4.292683      1
3.161290      1
2.589286      1
3.539130      1
3.357143      1
3.193548      1
3.233333      1
3.115385      1
2.260870      1
3.888889      1
3.087156      1
3.082278      1
3.417722      1
2.652174      1
4.252577      1
4.011194      1
3.356688      1
4.007874      1
3.407407      1
3.275862      1
3.642857      1
3.552632      1
4.206522      1
3.034483      1
2.814815      1
Name: rating, Length: 896, dtype: int64