In [2]:
from sklearn.feature_extraction.text import CountVectorizer 
import pandas as pd

In [3]:
# Sample dataset
simple_train = ['call you tonight', 'Call me a cab', 'please call me... PLEASE!']

In [4]:
#initialize the Vectorizer
vect = CountVectorizer()

In [5]:
# learn the vocab and parse them as features bsaed on the given params.
vect.fit(simple_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [6]:
# get the feature names
vect.get_feature_names()

['cab', 'call', 'me', 'please', 'tonight', 'you']

In [7]:
# convert to a document-term matrix
dtm = vect.transform(simple_train)
dtm

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [8]:
# turn it into an array
dtm.toarray()

array([[0, 1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0],
       [0, 1, 1, 2, 0, 0]], dtype=int64)

In [9]:
# convert the array into a df
df = pd.DataFrame(dtm.toarray(),columns=vect.get_feature_names()) 
df

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [10]:
# check the datatype of the dtm 
type(dtm)

scipy.sparse.csr.csr_matrix

In [11]:
# sparse matrix contains only values where there are non zeros.
print(dtm)

  (0, 1)	1
  (0, 4)	1
  (0, 5)	1
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (2, 1)	1
  (2, 2)	1
  (2, 3)	2

In [80]:
# read the text dataset
path = 'data/sms.tsv'
sms=pd.read_table(path,header=None,names=['label', 'message'])
sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [81]:
# check the shape
sms.shape

(5573, 2)

In [82]:
# diplay based on the categorizations available
sms.label.value_counts()

ham     4826
spam     747
Name: label, dtype: int64

In [83]:
# convert spams to 1 hams to 0
sms['labels_converted']=sms['label'].apply(lambda x:1 if x=="spam" else 0)

In [85]:
sms.head()

  label                                            message  labels_converted
0   ham  Go until jurong point, crazy.. Available only ...                 0
1   ham                      Ok lar... Joking wif u oni...                 0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...                 1
3   ham  U dun say so early hor... U c already then say...                 0
4   ham  Nah I don't think he goes to usf, he lives aro...                 0