In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Movie datasets read the contents of the movie dataset
df = pd.read_csv("datasets/u.data",sep='\t', names=['user_id','item_id','rating','timestamp'])
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [3]:
# Read the file that contains the title of the movies
movie_titles = pd.read_csv("datasets/Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
# Get them together
df = pd.merge(df,movie_titles,on='item_id')
df.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'title'], dtype='object')

In [5]:
# Get the average rating and group them by the movie titles
df.groupby('title')['rating'].mean().sort_values(ascending=False)

title
Marlene Dietrich: Shadow and Light (1996)                 5.000000
Prefontaine (1997)                                        5.000000
Santa with Muscles (1996)                                 5.000000
Star Kid (1997)                                           5.000000
Someone Else's America (1995)                             5.000000
Entertaining Angels: The Dorothy Day Story (1996)         5.000000
Saint of Fort Washington, The (1993)                      5.000000
Great Day in Harlem, A (1994)                             5.000000
They Made Me a Criminal (1939)                            5.000000
Aiqing wansui (1994)                                      5.000000
Pather Panchali (1955)                                    4.625000
Anna (1996)                                               4.500000
Everest (1998)                                            4.500000
Maya Lin: A Strong Clear Vision (1994)                    4.500000
Some Mother's Son (1996)                                  4.500000
Close Shave, A (1995)                                     4.491071
Schindler's List (1993)                                   4.466443
Wrong Trousers, The (1993)                                4.466102
Casablanca (1942)                                         4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)    4.447761
Shawshank Redemption, The (1994)                          4.445230
Rear Window (1954)                                        4.387560
Usual Suspects, The (1995)                                4.385768
Star Wars (1977)                                          4.359589
12 Angry Men (1957)                                       4.344000
Third Man, The (1949)                                     4.333333
Letter From Death Row, A (1998)                           4.333333
Bitter Sugar (Azucar Amargo) (1996)                       4.333333
Citizen Kane (1941)                                       4.292929
Some Folks Call It a Sling Blade (1993)                   4.292683
                                                            ...
Symphonie pastorale, La (1946)                            1.000000
Baton Rouge (1988)                                        1.000000
Boys in Venice (1996)                                     1.000000
Tigrero: A Film That Was Never Made (1994)                1.000000
Office Killer (1997)                                      1.000000
T-Men (1947)                                              1.000000
Terror in a Texas Town (1958)                             1.000000
Nobody Loves Me (Keiner liebt mich) (1994)                1.000000
The Courtyard (1995)                                      1.000000
King of New York (1990)                                   1.000000
Liebelei (1933)                                           1.000000
Stefano Quantestorie (1993)                               1.000000
Hostile Intentions (1994)                                 1.000000
Pharaoh's Army (1995)                                     1.000000
New Age, The (1994)                                       1.000000
Hungarian Fairy Tale, A (1987)                            1.000000
Death in the Garden (Mort en ce jardin, La) (1956)        1.000000
Promise, The (Versprechen, Das) (1994)                    1.000000
I, Worst of All (Yo, la peor de todas) (1990)             1.000000
Power 98 (1995)                                           1.000000
Police Story 4: Project S (Chao ji ji hua) (1993)         1.000000
Low Life, The (1994)                                      1.000000
Somebody to Love (1994)                                   1.000000
Invitation, The (Zaproszenie) (1986)                      1.000000
Lotto Land (1995)                                         1.000000
Touki Bouki (Journey of the Hyena) (1973)                 1.000000
JLG/JLG - autoportrait de d√©cembre (1994)                 1.000000
Daens (1992)                                              1.000000
Butterfly Kiss (1995)                                     1.000000
Eye of Vichy, The (Oeil de Vichy, L') (1993)              1.000000
Name: rating, dtype: float64

In [10]:
# get the movies by max number of rating provided (Average rating with ratings by most people)
df.groupby('title')['rating'].count()

title
'Til There Was You (1997)                                     9
1-900 (1994)                                                  5
101 Dalmatians (1996)                                       109
12 Angry Men (1957)                                         125
187 (1997)                                                   41
2 Days in the Valley (1996)                                  93
20,000 Leagues Under the Sea (1954)                          72
2001: A Space Odyssey (1968)                                259
3 Ninjas: High Noon At Mega Mountain (1998)                   5
39 Steps, The (1935)                                         59
8 1/2 (1963)                                                 38
8 Heads in a Duffel Bag (1997)                                4
8 Seconds (1994)                                              4
A Chef in Love (1996)                                         8
Above the Rim (1994)                                          5
Absolute Power (1997)                                       127
Abyss, The (1989)                                           151
Ace Ventura: Pet Detective (1994)                           103
Ace Ventura: When Nature Calls (1995)                        37
Across the Sea of Time (1995)                                 4
Addams Family Values (1993)                                  87
Addicted to Love (1997)                                      54
Addiction, The (1995)                                        11
Adventures of Pinocchio, The (1996)                          39
Adventures of Priscilla, Queen of the Desert, The (1994)    111
Adventures of Robin Hood, The (1938)                         67
Affair to Remember, An (1957)                                26
African Queen, The (1951)                                   152
Afterglow (1997)                                             18
Age of Innocence, The (1993)                                 65
                                                           ...
Window to Paris (1994)                                        1
Wings of Courage (1995)                                       1
Wings of Desire (1987)                                       57
Wings of the Dove, The (1997)                                75
Winnie the Pooh and the Blustery Day (1968)                  75
Winter Guest, The (1997)                                      9
Wishmaster (1997)                                            27
With Honors (1994)                                           46
Withnail and I (1987)                                        13
Witness (1985)                                                1
Wizard of Oz, The (1939)                                    246
Wolf (1994)                                                  67
Woman in Question, The (1950)                                 1
Women, The (1939)                                            15
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)     10
Wonderland (1997)                                            10
Wooden Man's Bride, The (Wu Kui) (1994)                       3
World of Apu, The (Apur Sansar) (1959)                        6
Wrong Trousers, The (1993)                                  118
Wyatt Earp (1994)                                            50
Yankee Zulu (1994)                                            1
Year of the Horse (1997)                                      7
You So Crazy (1994)                                           1
Young Frankenstein (1974)                                   200
Young Guns (1988)                                           101
Young Guns II (1990)                                         44
Young Poisoner's Handbook, The (1995)                        41
Zeus and Roxanne (1997)                                       6
unknown                                                       9
√Å k√∂ldum klaka (Cold Fever) (1994)                            1
Name: rating, dtype: int64